<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      internalLogFile="c:\temp\skylogs\nlog-internal.log"
	  internalLogToConsole="true"
      internalLogLevel="Info" >

	<!-- the targets to write to -->
	<targets>
		<!-- Database	-->
		<target xsi:type="Database"
			  name="dbTarget" keepConnection="true" dbProvider="System.Data.SqlClient"
		      connectionString="${configsetting:item=Logging.NLog}"
			  commandText="insert into dbo.Log (ApplicationID, LoggedTime, Level, Message, Logger, CallSite, Exception) values (25, @LoggedTime, @Level, @Message,@Logger, @Callsite, @Exception)">
			<parameter name="@LoggedTime" layout="${date:universalTime=true}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Username" layout="${identity}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@CallSite" layout="${callsite}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		</target>
		<!-- write logs to file -->
		<target xsi:type="File" name="logfile" fileName="c:\temp\skylogs\skylogs.log"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="Console" name="logconsole"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="dbTarget,logfile,logconsole" />
	</rules>
</nlog>